.container {
    width: 100%;
    background: red;
    display: flex;
    justify-content: center;
}

#mheader-div {
    display: flex;
    flex-flow: row nowrap;
    height: fit-content;
    padding-top: 6rem;
    margin-bottom: 3rem;
    overflow-y: hidden;
    position: relative;
}

@media screen and (max-width: 580px) {
    #mheader-div {
        padding-top: 0;
        margin-top: 25%;
    }
}