#project-map-container {
  margin: 4rem 0 5rem 0;
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}

.project-div {
  width: 100%;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
}

.image {
  width: 90%;
  height: 300px;
  border-radius: 1rem;
}

.project-text {
  border-radius: 1rem;
  width: 90%;
  height: fit-content;
  /* background: rgba(0, 0, 0, 0.75); */
  padding: 2rem 4rem 2rem 4rem;
  text-align: center;
}

.project-text p {
  color: white;
}

.project-title {
  font-family: var(--header-font);
  font-size: var(--small-header);
  font-weight: 700;
  text-align: center;
}

.project-description {
  color: black;
}

.links {
  margin: 1rem;
  color: var(--lightpurple);
  text-decoration: none;
  font-size: var(--small-body);
}

.links:hover {
  color: var(--pink);
}

.technologies-div {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin: 2rem 0;
}

.technology-item {
  font-size: var(--small-body);
  background: var(--pink);
  border-radius: 5rem;
  padding: 0.5rem 1rem;
  margin: 0.5rem 0.25rem;
  width: fit-content;
  display: inline-block;
}
