#project-map-container {
  display: grid;
  grid-template-columns: repeat(3, 20%);
  justify-content: space-evenly;
  margin: 5rem auto;
  padding: 5rem;
}

#project-map-container > .project-grid-container:nth-child(3n + 2) {
  margin-top: 5rem;
}

#project-map-container > .project-grid-container:nth-child(3n + 3) {
  margin-top: -3rem;
}

.project-container {
  height: fit-content;
  overflow: visible;
}

.project-container:hover {
  animation-name: fill-container;
  animation-duration: .5s;
  animation-fill-mode: forwards;
  border: none;
}

@keyframes fill-container {
  0% {
    background: white;
  }
  100% {
    background: rgba(255, 105, 180, 0.5);
  }
}

.project-image-container {
  display: flex;
  width: 100%;
  height: 20rem;
  overflow: hidden;
  z-index: 1;
  position: relative;
  border: 2px pink double;
  /* background: lavender; */
  padding: 1rem;
  margin-bottom: 1rem;
}

.project-image-container > img {
  object-fit: cover;
  max-height: 30rem;
  position: relative;
  filter: saturate(130%);
}

.project-text {
  padding: 1rem;
  text-align: center;
  background: white;
  min-height: 11rem;
  overflow: hidden;
}

.project-title {
  font-size: 2vw;
  font-weight: bold;
  color: hotpink;
  text-transform: uppercase;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  overflow:visible;
}

.project-description {
  color: black;
  margin-bottom: 1.5rem;
}

.project-links-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  overflow: visible;
}

.project-links {
  padding: 0.25rem 0.5rem;
  text-decoration: none;
  background: lavender;
  border-radius: 1rem;
  font-size: .74rem;
}


@media screen and (max-width: 1280px) {
  .project-links {
    margin: 0.25rem;
  }
}