.mobile-project-div {
    margin-bottom: 2rem;
    height: 15rem;
    border-radius: 1rem;
    width: 90%;
    overflow-y: hidden;
}

.mobile-text-div {
    padding: 2rem 1rem;
    height: 100%;
    background-color: rgb(0,0,0, 0.75);
    text-align: center;
}

.project-text {
    color: white;
}

.mobile-project-image {
    height: 20rem;
}