#brand-heading-div {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  margin-top: 10vh;
  overflow: hidden;
  position: relative;
}

.branding,
.logo-div,
.text-container,
h2,
.name {
  width: fit-content;
  height: fit-content;
}

.branding-grid {
  display: grid;
  grid-template-columns: 12% 110%;
  grid-template-rows: 90% 10%;
  margin-left: 15%;
  overflow: hidden;
}

.logo-div {
  width: 300%;
}

.text-container {
  display: flex;
  flex-flow: column nowrap;
  position: relative;
  top: 20%;
  left: 13%;
  padding-right: 5%;
  padding-left: 1%;
}

.name,
#description {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.name {
  font-size: 9vw;
  font-weight: bold;
  height: fit-content;
  overflow-y: hidden;
  color: black;
  line-height: 90%;
}

#nisha {
  overflow-y: hidden;
  color: rgb(255, 164, 210);
}

#mcdowell {
  color: hotpink;
  position: relative;
  top: -0.5rem;
  left: 5%;
  font-size: 7.5vw;
}

#description {
  position: relative;
  top: -0.75rem;
  left: -2%;
  font-size: 2vw;
  padding: 0.25rem 2vw;
  letter-spacing: 0.25rem;
  text-transform: uppercase;
  font-weight: bold;
  color: gray;
  background: white;
  border-radius: 5rem;
}

@media screen and (max-width: 800px) {
  #brand-heading-div {
    height: 40vh;
  }
  #description {
    top: -0.75rem;
    padding: 0.75 0;
  }
}

@media screen and (max-width: 500px) {
  #brand-heading-div {
    height: 30vh;
  }
  #description {
    letter-spacing: 0.1rem;
  }
}

@media screen and (max-width: 500px) {
  #brand-heading-div {
    margin-top: 0rem;
  }
}