#header {
    background-color: skyblue;
}

h2 {
    font-size: 18px;
}

#header-text-container {
    padding-left: 8rem;
}
#profile-pic-container {
    margin-right: 6rem;
}

@media (max-width: 1000px) {
    #header-text-container {
        padding-left: 4rem;
    }
    #profile-pic-container {
        margin-right: 2rem;
    }
}

@media (max-width: 767px) {
    #header-text-container,
    #profile-pic-container {
        width: 50%;
        padding: 1rem;
        margin: 0;
    }
    #profile-pic-container {
        padding-top: 1rem;
    }
  }

  @media (max-width: 400px) {
    .profile-pic {
        max-width: 250px;
    }
    #header-text-container,
    #profile-pic-container {
        width: 100%;
    }
    #header-text-container {
        display: flex;
        flex-flow: column wrap;
        align-items: center;
        text-align: center;
    }
    #profile-pic-container {
        padding-top: 0;
    }
    #small-header-btn {
        margin-bottom: 1.5rem;
    }
  }