#contact {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  margin-top: 10rem;
}

.icons-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.contact-icon {
  margin: 2rem;
}

.copyright {
  color: white;
  font-family: var(--body-font);
  font-size: var(--med-body);
  margin-top: 2rem;
  padding-bottom: 5rem;
}
