#about {
  display: flex;
  padding: 0 4rem;
}

#bio {
  width: 50%;
  overflow-y: hidden;
}

#bio h3,
#skills-container h3 {
  font-size: 50px;
  color: hotpink;
  text-transform: uppercase;
  font-weight: bold;
  margin: 0;
  text-align: center;
}

.about-divider {
  background: lavenderblush;
  width: 1.5rem;
  height: 20rem;
  transform: skew(-10deg);
  position: relative;
  top: 5rem;
}

#about:before,
#about:after {
  content: "<";
  color: rgba(255, 164, 210,0.5);
  font-size: 20rem;
  font-weight: bold;
  /* font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; */
}

#about:after {
  content: ">";
}

#skills-container {
  width: 50%;
}

#skills {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
}

.skill-header {
  font-size: 18px;
  color: white;
  font-weight: 400;
}

.skill-list {
  display: flex;
  flex-flow: column;
}

.skill-tag {
  line-height: 1rem;
  overflow-y: hidden;
  text-align: center;
}

p {
  font-size: 15px;
}

.bordered-content {
  background-color: rgba(255,255,255,0.5);
  border-radius: 1rem;
  padding: 2rem;
  min-height: fit-content;
  max-height: 20rem;
  overflow-y: hidden;
}

@media only screen and (max-width: 1000px) {
    #about {
        display: flex;
        flex-flow: column;
        padding-left: 2rem;
        padding-right: 2rem;
      }
      .about-section {
        width: 100%;
      }
      #skills-container {
          margin-top: 2rem;
      }
      #bio-text {
        height: 11rem;
      }
}

@media only screen and (max-width: 815px) {
      #bio-text {
        height: 13rem;
      }
}

@media only screen and (max-width: 515px) {
    #bio-text {
      height: 15rem;
    }
}

@media only screen and (max-width: 485px) {
    #bio-text {
      height: 18rem;
    }
}

@media only screen and (max-width: 360px) {
    #bio-text,
    #skills {
      height: 25rem;
    }
}