.nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: fixed;
  z-index: 100;
  width: 100%;
  height: 5rem;
  background: rgba(255, 255, 255, 0.5);
}

.navlinks {
  width: 50%;
  display: flex-start;
  justify-content: center;
}

.navlink {
  font-size: var(--small-body);
  color: var(--purple);
  font-weight: 500;
  letter-spacing: 0.1rem;
  text-decoration: none;
  margin-left: 5%;
  margin-right: 5%;
}

.navlink:hover {
  color: var(--yellow);
}

@media only screen and (max-width: 480px) {
  .navbar {
    padding: 0.25rem;
  }
  .navbar a {
    font-weight: normal;
    font-size: 0.75rem;
    margin-right: 0.5rem;
    padding: 0;
  }
  .navbar a:hover {
    transform: none;
  }
}
