.nav-div {
  width: fit-content;
  height: fit-content;
  padding: 1rem;
  background: rgba(255, 255, 255, 0.5);
  position: fixed;
  right: 10%;
}

.navlinks {
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-end;
}

.navlink {
  text-decoration: none;
  font-size: 2rem;
  color: var(--lightpurple);
}
