#about {
  background-color: var(--green);
  height: calc(100vh + 5rem);
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 10rem;
}

h2,
p {
}

p {
  font-size: 1.25rem;
  color: white;
}

.left-div {
}

.left-div > h2 {
  font-size: var(--med-header);
  position: relative;
  z-index: 100;
  color: white;
  border-bottom: 2px solid var(--fuschia);
  padding-bottom: 1rem;
}

.about-copy {
  margin-top: 2rem;
}

@media only screen and (max-width: 1000px) {
  #about {
    display: flex;
    flex-flow: column;
    padding-left: 2rem;
    padding-right: 2rem;
  }
  .about-section {
    width: 100%;
  }
  #skills-container {
    margin-top: 2rem;
  }
  #bio-text {
    height: 11rem;
  }
}

@media only screen and (max-width: 815px) {
  #bio-text {
    height: 13rem;
  }
}

@media only screen and (max-width: 515px) {
  #bio-text {
    height: 15rem;
  }
}

@media only screen and (max-width: 485px) {
  #bio-text {
    height: 18rem;
  }
}

@media only screen and (max-width: 360px) {
  #bio-text,
  #skills {
    height: 25rem;
  }
}
