#about {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-items: center;
  background-color: skyblue;
  padding: 0 5rem 5rem 5rem;

}

.about-section {
  width: 40%;
  overflow-y: hidden;
}

.about-section h3 {
  font-size: 50px;
  color: white;
}

#and p {
  font-size: 80px;
  color: white;
}

#skills {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
}

.skill-header {
  font-size: 18px;
  color: white;
  font-weight: 400;
}

.skill-list {
  display: flex;
  flex-flow: column;
}

.skill-tag {
  line-height: 1rem;
  overflow-y: hidden;
  text-align: center;
}

p {
  font-size: 15px;
}

.bordered-content {
  border: 2px solid white;
  padding: 2rem;
  height: 18rem;
  overflow-y: hidden;
}

@media only screen and (max-width: 1000px) {
    #about {
        display: flex;
        flex-flow: column;
        padding-left: 2rem;
        padding-right: 2rem;
      }
      .about-section {
        width: 100%;
      }
      #skills-container {
          margin-top: 2rem;
      }
      #bio-text {
        height: 11rem;
      }
}

@media only screen and (max-width: 815px) {
      #bio-text {
        height: 13rem;
      }
}

@media only screen and (max-width: 515px) {
    #bio-text {
      height: 15rem;
    }
}

@media only screen and (max-width: 485px) {
    #bio-text {
      height: 18rem;
    }
}

@media only screen and (max-width: 360px) {
    #bio-text,
    #skills {
      height: 25rem;
    }
}